<h2> Hi <%= current_critic.username %>!</h2>
<br>
<h3>Here Are All Of Your Movie Reviews:</h3>
<br>
<% @reviews.each do |review| %>
  <div>
    <p>Name of Movie: <a href="/reviews/<%=review.id%>"><%= review.title %></a></p>
    <p>Genre: <%= review.genre %></p>
    <p>Description: <%= review.content %></p>
    <p>Rating: <%= review.rating %></p>
  </div>
<% end %>

<a href="/reviews/new"> Add another Movie Review to your list </a><br>
<a href="/logout"> Log Out </a>
<br>
<br>
<br>

<h3>Movies Reviews Written By Other Critics:</h3>
<br>
<% @other_reviews.each do |review| %>
  <div>
    <p>Name of Movie: <%= review.title %></p>
    <p>Critic: <%= review.critic.username %></p>
    <p>Genre: <%= review.genre %></p>
    <p>Description: <%= review.content %></p>
    <p>Rating: <%= review.rating %></p>
    <br>
  </div>
<% end %>